.content {
  display: flex;
  justify-content: center;
  align-items: center;
  .header {
    position: fixed;
    margin-top: 8.9rem;
    z-index: 99999;
  }
  .footer{
    padding-left: 3.2rem;
  }
}
